<!DOCTYPE html>
<html>
    <head>
        <title>MilkStgo</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <header>
            <h1>Bienvenido a MilkStgo</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/proveedores">Ver Proveedores</a></li>
                <li><a href="/subirArchivo">Cargar CSV</a></li>
                <li><a href="/planilla">Generar planilla de pago</a></li>
            </ul>
        </nav>
        <main>
            <h2>Bienvenidos!</h2>
            <p>Somos MilkStgo, una empresa dedicada a la producción de comestibles a base de leche, principalmente yogurt, mantequilla y quesos. Tenemos más de 40 años produciendo productos para el mercado nacional.</p>
            <img src="../static/images/milkstgo.png" alt="Logo MilkStgo">
        </main>
        <footer>
            <p>Derechos reservados MilkStgo</p>
        </footer>
    </body>
</html>