<!DOCTYPE html>
<html>
    <head>
        <title>Mi Página en Blanco y Negro</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <header>
            <h1>Mi Página en Blanco y Negro</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <h2>Contenido Principal</h2>
            <p>Este es un párrafo de ejemplo que podría incluir información relevante sobre el tema de tu página.</p>
            <img src="imagen.jpg" alt="Imagen de ejemplo">
        </main>
        <footer>
            <p>Derechos reservados MilkStgo</p>
        </footer>
    </body>
</html>