<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Proveedores</title>
        <link rel = "stylesheet" href= "../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
            <h1>Proveedores</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Volver al menú principal</a></li>
                <li><a href="/verProveedores">Ver proveedores</a></li>
            </ul>
        </nav>
            <hi>Ingrese los datos del nuevo proveedor</hi>
            <form th:action="@{/ingresarProveedor}" method="POST">
                <ul class="registration-form">
                    <li>
                        <label>Codigo</label>
                        <input type="text" placeholder="Ingrese el codigo del proveedor" id="codigo"
                               name="codigo" required>
                    </li>
                    <li>
                        <label>Nombre</label>
                        <input type="text" placeholder="Ingrese el nombre del proveedor" id="nombre"
                               name="nombre" required>
                    </li>
                    <li>
                        <label>Categoria</label>
                        <select id="categoria" name="categoria" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </li>
                    <li>
                    <label>Retencion</label>
                        <input type="radio" name="retencion" value="true" required> Si
                        <input type="radio" name="retencion" value="false" required> No
                    </li>
                    <li class="btn-secondary-container">
                        <input class="btn-secondary" type="submit" value="Ingresar proveedor">
                    </li>
                </ul>
            </form>
        <footer>
            <p>Derechos reservados MilkStgo</p>
        </footer>
    </body>
</html>