<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Proveedores</title>
        <link rel = "stylesheet" href= "../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
            <h1>Proveedores</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Volver al menu principal</a></li>
            </ul>
        </nav>
        <h1 th:if="${noDataMessage}"> No existen pagos asociados a este proveedor </h1>
        <div th:unless="${noDataMessage}">
            <h1>Planilla de pago</h1>
            <table th:border="1" class="content-table">
                <tr>
                    <th>Quincena</th>
                    <td th:text="${planilla.fecha}"></td>
                </tr>
                <tr>
                    <th>Codigo</th>
                    <td th:text="${planilla.codigo}"></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td th:text="${planilla.nombre}"></td>
                </tr>
                <tr>
                    <th>Kls de leche</th>
                    <td th:text="${planilla.kg_leche}"></td>
                </tr>
                <tr>
                    <th>Dias que entrego leche</th>
                    <td th:text="${planilla.dias}"></td>
                </tr>
                <tr>
                    <th>Promedio de kls por dia</th>
                    <td th:text="${planilla.promedio_kg}"></td>
                </tr>
                <tr>
                    <th>Variacion de kls de leche</th>
                    <td th:text="${planilla.variacion_leche}"></td>
                </tr>
                <tr>
                    <th>Porcentaje de grasa actual</th>
                    <td th:text="${planilla.grasa}"></td>
                </tr>
                <tr>
                    <th>Variacion de grasa</th>
                    <td th:text="${planilla.variacion_grasa}"></td>
                </tr>
                <tr>
                    <th>Porcentaje de solidos totales actual</th>
                    <td th:text="${planilla.solidos}"></td>
                </tr>
                <tr>
                    <th>Variacion de solidos totales</th>
                    <td th:text="${planilla.variacion_st}"></td>
                </tr>
                <tr>
                    <th>Pago por kls de leche</th>
                    <td th:text="${planilla.pago_leche}"></td>
                </tr>
                <tr>
                    <th>Pago por porcentaje de grasa</th>
                    <td th:text="${planilla.pago_grasa}"></td>
                </tr>
                <tr>
                    <th>Pago por porcentaje de solidos totales</th>
                    <td th:text="${planilla.pago_solidos}"></td>
                </tr>
                <tr>
                    <th>Pago por bonificacion de frecuencia</th>
                    <td th:text="${planilla.bonif_freq}"></td>
                </tr>
                <tr>
                    <th>Descuento por variacion de kls de leche</th>
                    <td th:text="${planilla.dct_variacion_leche}"></td>
                </tr>
                <tr>
                    <th>Descuento por variacion de porcentaje de grasa</th>
                    <td th:text="${planilla.dct_variacion_grasa}"></td>
                </tr>
                <tr>
                    <th>Descuento por variacion de porcentaje de solidos totales</th>
                    <td th:text="${planilla.dct_variacion_st}"></td>
                </tr>
                <tr>
                    <th>Pago total</th>
                    <td th:text="${planilla.pago_total}"></td>
                </tr>
                <tr>
                    <th>Monto de retencion</th>
                    <td th:text="${planilla.monto_retencion}"></td>
                </tr>
                <tr>
                    <th>Monto final</th>
                    <td th:text="${planilla.monto_final}"></td>
                </tr>
            </table>
        </div>
        <footer>
            <p>Derechos reservados MilkStgo</p>
        </footer>
    </body>
</html>