<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Planillas de pago</title>
        <link rel = "stylesheet" href= "../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
            <h1>Planillas de pago</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Volver al menú principal</a></li>
            </ul>
        </nav>
            <form th:action="@{/generarPlanilla}" method="GET" th:if="${not #lists.isEmpty(proveedores)}">
                <br>
                <hi>Seleccione al proveedor para generar planilla de pago</hi>
                <select name="codigo">
                    <option th:each="proveedor : ${proveedores}" th:text="${proveedor.codigo}"></option>
                </select>
                <div class="btn-secondary-container"> <input class="btn-secondary" type="submit" value="Cargar planilla"></input> </div>
            </form>
            <h3 th:unless="${not #lists.isEmpty(proveedores)}" style="color: #a44b01; text-align: center; margin: 10px 25%;"> No existen Proveedores en el sistema </h3>
        <footer>
            <p>Derechos reservados MilkStgo</p>
        </footer>
    </body>
</html>