<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
      <title>Subir Archivo</title>
      <link rel = "stylesheet" href= "../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
  </head>
  <body>
    <header>
      <h1>Subir archivo de porcentajes de sólido y grasa</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Volver al menú principal</a></li>
      </ul>
    </nav>
    <div>
      <h1>Cargar archivo de porcentajes de grasa y sólidos totales</h1>
      <form th:action="@{/subirArchivoPorcentaje}" method="POST" enctype="multipart/form-data" class="file-upload-container">
        <br>
          <input type="file" id="file" name="file" class="file-input" onchange="showFileName()">
          <label for="file" class="file-upload-button">Seleccionar archivo</label>
          <span id="selected-file-name" class="selected-file-name"></span>
        <br>
        <input class = "btn-secondary"
               type="submit" value="Cargar el archivo a la Base de Datos">
      </form>
      <br>
      <u><b>
        <h2 th:if="${mensaje}" th:text="${mensaje}"></h2>
        <h2 th:unless="${mensaje}">No se ha cargado ningún archivo.</h2>
      </b></u>
    </div>
  </body>
  <script>
    function showFileName() {
      const fileInput = document.getElementById('file');
      const fileName = fileInput.files[0].name;
      const buttonLabel = document.querySelector('.file-upload-button');
      buttonLabel.textContent = fileName;
    }
  </script>
</html>