*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: #a44b01;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
body {
    background-color: #fef8ce;
    color: #000;
    font-family: Arial, sans-serif;
}

header {
    background-color: #a44b01;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #a44b01;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

h2 {
    color: #a44b01;
}

h3 {
    color: #a44b01;
    text-align: center;
    margin: 10px 25%;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

footer {
    background-color: #a44b01;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.btn-secondary-container {
    display: flex;
    justify-content: center;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a44b01;
    color: white;
    border: 2px solid #fef8ce;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.file-upload-container {
    display: flex;
    justify-content: center;
}

.file-input {
    position: absolute;
    left: -9999px;
}

.file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a44b01;
    color: white;
    border: 2px solid #fef8ce;
    border-radius: 10px;
    cursor: pointer;
}

.selected-file-name {
    display: block;
    margin-top: 10px;
    color: #a44b01;
    font-weight: bold;
}

ul.registration-form {
    list-style: none;
    padding: 0;
    width: 100%;
}

ul.registration-form li {
    margin-bottom: 20px;
}

ul.registration-form label {
    display: block;
    font-weight: bold;
    color: #a44b01;
    margin-bottom: 5px;
}

ul.registration-form input[type="text"],
ul.registration-form input[type="email"],
ul.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #fef8ce;
    border-radius: 10px;
}

ul.registration-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #a44b01;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

ul.registration-form input[type="submit"]:hover {
    background-color: #fdd78a;
}