*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: #a44b01;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}
body {
    background-color: #fef8ce;
    color: #000;
    font-family: Arial, sans-serif;
}

header {
    background-color: #a44b01;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #a44b01;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

h2 {
    color: #a44b01;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

footer {
    background-color: #a44b01;
    color: #fff;
    padding: 10px;
    text-align: center;
}